<div class="content-section introduction">
    <div>
        <span class="feature-title">楽天ショッパー</span>
        <span>ドラッグアンドドロップをして商品の組み合わせを変更してください</span>
    </div>
</div>

<div class="content-section implementation">
    <p>
        楽天市場はいろいろなものがあって、欲しいものはだいたいすべてそろうのでとても便利ですよね。私はいつも利用していますし、
        楽天カードでポイントがどんどんたまるのでクレジットカードの請求額に応じてポイントが加算されるたびについつい楽天のサイトを
        のぞきいてしまいます(笑）
    </p>
    <p>
        ところで皆さんが楽天で買い物をされるとき、色々なものがあるのは良いのですが、○千円以上で送料無料というショップが多いこともあり、
        できれば同じショップで買えるものはまとめて買いたい！と思うことがありませんか？ところが楽天の通常の検索ですと全ショップ横断で検索されますし、
        特定のショップに入って検索して揃わなかったらまた別のショップで検索して。。。とめんどくさかったりしませんか？
    </p>
    <p>
        ということでそんな面倒くささを少しでも解消するためにこのサイトを作りました。
    </p>
    <p>
        画面の左側半分で商品を検索し、プルダウンでショップを選択するとそのショップの商品だけが並びます。欲しいものを右にドラッグ&ドロップして買い物リストを作ります。
        とにかく買い物リストに入れまくってから買い物リスト側でショップ選択をすることでそのショップごとの合計額が出てきますので、どのお店でどれを購入するかが整理しやすくなると思います。
    </p>
    <p>
        実際の買い物は各製品のリンクより楽天サイトに飛んで購入をお願いします。
    </p>

    <h3>商品検索後、右の表にドラッグアンドドロップしてください</h3>
    <div class="ui-grid ui-grid-pad ui-grid-responsive">
        <div class="ui-grid-row">
            <div class="ui-grid-col-6 ui-widget-content" style="border-right:0 none">
                <form #searchForm="ngForm" novalidate>
                    <p-checkbox name="searchOptGrp" label="ポイント倍付" [(ngModel)]="pointRateFlag" binary="true"></p-checkbox>
                    <p-checkbox name="searchOptGrp" label="送料無料" [(ngModel)]="postageFlag" binary="true"></p-checkbox>
                    <p-checkbox name="searchOptGrp" label="クレジットカード利用可" [(ngModel)]="creditCardFlag" binary="true"></p-checkbox>
                    <p-checkbox name="searchOptGrp" label="あす楽対応" [(ngModel)]="asurakuFlag" binary="true"></p-checkbox>
                    <br>
                    <input pInputText name="keyword" [(ngModel)]="keyword" placeholder="検索語句" required>
                    <button type="button" pButton (click)="search()" label="検索" [disabled]="searchForm.invalid" binary="true"></button>
                </form>
                <p-dropdown [options]="searchShops" [style]="{'width':'100%'}" placeholder="ショップ絞り込み"
                            (onChange)="onShopChange($event)">
                </p-dropdown>

                <ul style="margin:0;padding:0">
                    <ng-container *ngIf="itemList">
                        <li *ngFor="let item of itemList.Items" class="ui-state-default ui-helper-clearfix"
                            pDraggable="parts"
                            (onDragStart)="dragStart($event,item)" (onDragEnd)="dragEnd($event)">
                            <i class="fa fa-arrows fa-2x" style="float:right;margin-top:8px"></i>
                            <a href="{{item.itemUrl}}" target="_blank"><img *ngIf="item.smallImageUrls.length"
                                                                            src="{{item.smallImageUrls[0]}}"
                                                                            style="float:left" draggable="false"></a>
                            <div style="margin:8px 0 0 8px;float:left">{{item.itemName}}(&yen;{{item.itemPrice | number : '1.0-3' }})
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="ui-grid-col-6 ui-widget-content" pDroppable="parts" (onDrop)="drop($event)"
                 [ngClass]="{'ui-state-highlight':draggedCar}">
                <p-dropdown [options]="selectedItemShops" [style]="{'width':'100%'}" placeholder="ショップ絞り込み"
                            (onChange)="onSelectedItemShopChange($event)">
                </p-dropdown>
                <p-dataTable [value]="selectedItemsByShop" [scrollable]="true" scrollHeight="640px" scrollWidth="100%">
                    <p-column styleClass="col-button" [style]="{'width':'90px'}">
                        <ng-template let-item="rowData" pTemplate="body">
                            <button type="button" pButton (click)="showDetail(item)" label="詳細"></button>
                        </ng-template>
                    </p-column>
                    <p-column field="shopName" header="店舗名" [style]="{'width':'180px'}"></p-column>
                    <p-column field="itemName" header="商品名" [style]="{'width':'280px'}"></p-column>
                    <p-column header="価格" [style]="{'width':'80px'}">
                        <ng-template let-item="rowData" pTemplate="body">
                            <span>&yen;{{item.itemPrice | number : '1.0-3' }}</span>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="col-button" [style]="{'width':'90px'}">
                        <ng-template let-item="rowData" pTemplate="body">
                            <button type="button" pButton (click)="remove(item)" label="削除"></button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
